*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
}


.topImg{
  width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
margin-right: 15px;
cursor: pointer
}

#btn{
  border: none;
  outline: none;

}

#btn:hover{
  border: none;
  outline: none;
}

#main-post{
  max-width: 540px;
}